version: '3'
services:
  scn-control-plane:
    image: suborbital/scn-control-plane:{{ .SCNVersion }}
    command: controlplane
    volumes:
      - ./:/home/scn
    environment:
      SCN_LOG_LEVEL: info
      SCN_HEADLESS: "true"
      SCN_HTTP_PORT: 8081
    env_file:
      - SCN.env
    ports:
      - "8081:8081"
    networks:
      - scn

  scn-builder:
    image: suborbital/scn-builder:{{ .SCNVersion }}
    command: builder
    volumes:
      - ./:/home/scn
    environment:
      SCN_LOG_LEVEL: info
      SCN_HTTP_PORT: 8082
    ports:
      - "8082:8082"
    networks:
      - scn

  scn-atmo:
    image: suborbital/atmo:v0.4.7
    command: atmo
    depends_on:
      - scn-controlplane
    environment:
      ATMO_CONTROL_PLANE: "scn-controlplane:8081"
      ATMO_HEADLESS: "true"
      ATMO_LOG_LEVEL: info
      ATMO_HTTP_PORT: 8080
    ports:
      - "8080:8080"
    networks:
      - scn

networks:
    scn:
